<app-page-header [heading]="'Visualizza Candidati'" [icon]="'fa fa-user'"></app-page-header>
<div class="card mb-3">
  <div class="card-header" align="center" >Visualizza Candidati</div>
  <table class="card-body table">
    <thead>
    <tr>

      <th ><i class="fa fa-user" ></i> Nome Candidato</th>
      <th>  <span class="fa fa-calendar"></span> Data Candidatura</th>
      <!--  <th>Username</th>-->
    </tr>
    </thead>
    <tbody *ngFor="let candidate of candidateslist" class="alert alert-success">
    <tr class="table-success">
      <td>{{candidate.fullname}}<tr>
        {{candidate.id_offerta}}</tr></td>
    <td>{{candidate.data}}</td>
    <td><button type="button" class="btn btn-primary"  [routerLink]="['/candidate',candidate.fullname]" [routerLinkActive]="['router-link-active']">Visualizza</button></td>
    </tr>
    </tbody>
  </table>
</div>
