<!--
<app-page-header [heading]="'Candidati Idonei'" [icon]="'fa fa-user'"></app-page-header>
<div class="card mb-3">
  <div class="card-header">Di seguito l'elenco dei candidati indicati <b>idonei</b> dal recruiter/assistente tecnico</div>
  <table class="card-body table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Fullname</th>
      <th>Offerta Di Lavoro</th>
      <th>Data</th>
    </tr>
    </thead>
    <tbody *ngFor="let candidati of candidatilist">

    <tr>
      <th scope="row">{{candidati.number}}</th>
      <td><a [routerLink]="['/dettaglio-candidatura']" [routerLinkActive]="['router-link-active']">
        &nbsp;{{candidati.fullname}}</a></td>
      <td>{{candidati.offerta}}</td>
      <td>{{candidati.data}}</td>
    </tr>
    </tbody>
  </table>
</div>

-->




  <app-page-header [heading]="'Dettaglio Candidatura'" [icon]="'fa-edit'"></app-page-header>

<div style="text-align: center;">
  <div class="{{stile}}">
    <strong> {{aggettivo}}</strong> {{messaggio}}
  </div>
</div>
<div class="row">
    <div class="col-lg-6">

      <form role="form">
        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Fullname</label>
          <p class="help-block">{{ob.fullname}}</p>
        </fieldset>
        <hr/>
          <!-- <p class="help-block">Qui stampa il fullname.</p> -->
        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Titolo di studio</label>
          <p class="help-block">{{ob.titolodistudio}}</p>
        </fieldset>
        <hr/>
          <!-- <input class="form-control" placeholder="Enter text"> -->

        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Skill</label>
          <p class="help-block">{{ob.skillCandidato}} </p>
        </fieldset>
        <hr/>

        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Titolo di studio</label>
          <p class="help-block">{{ob.titolodistudio}} </p>
        </fieldset>
        <hr/>

        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Note</label>
          <p class="help-block">{{ob.noteCandidato}}</p>
        </fieldset>
        <hr/>

        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Curriculum Vitae</label>
          <p class="help-block"><a target="_blank" href="{{ob.pathCV}}">clicca qui..</a> </p>
        </fieldset>
        <hr/>

        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Lettera di presentazione</label>
          <p class="help-block"><a target="_blank" href="{{ob.pathLettPresent}}">clicca qui..</a> </p>
        </fieldset>
        <hr/>

      </form>

    </div>
    <div class="col-lg-6">
      <!-- <h4>Disabled Form States</h4> -->

      <form role="form">

        <fieldset class="form-group">
        <label style="font-weight: bold; color:#000">Offerta di lavoro</label>
        <p class="help-block">{{ob.offerta}}</p>
      </fieldset>
        <hr/>

        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Colloquio in data</label>
          <p class="help-block"> {{ob.dataColloquio}} - {{ob.orarioColloquio}}</p>
        </fieldset>
        <hr/>

        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Luogo colloquio</label>
          <p class="help-block"> {{ob.luogoColloquio}} <a target="_blank" href="{{ob.linkGoogleMaps}}">Google Maps</a></p>
        </fieldset>
        <hr/>

        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Note recruiter</label>
          <p class="help-block"> {{ob.noteRecruiter}}</p>
        </fieldset>
        <hr/>

        <fieldset class="form-group">
          <label style="font-weight: bold; color:#000">Note assist. tecnico</label>
          <p class="help-block"> {{ob.noteTecnico}}</p>
        </fieldset>
        <hr/>
        <div style="text-align: center;"  >
       <!-- <button type="button" class="btn btn-success" name="buttonpianifica" #buttonpianifica>Pianifica colloquio</button>
        -->
          <button *ngIf="vis" class="btn btn-success" name="buttonpianifica" #buttonpianifica> Pianifica colloquio</button>

        </div>
               </form>


    </div>
  <!-- /.row -->
</div>