<div>
  <app-page-header [heading]="'Pubblica annuncio'" [icon]="'fa-wrench'"></app-page-header>

  <div class="row">
    <div class="col-lg-6">

      <form role="form">
        <fieldset class="form-group">
          <label>Titolo annuncio:</label>
          <input class="form-control">
        </fieldset>

        <fieldset class="form-group">
          <label>Annuncio:</label>
          <textarea class="form-control" rows="3"></textarea>
        </fieldset>

        <fieldset class="form-group">
          <label>Titolo di studio:</label>
          <input class="form-control" >
        </fieldset>

        <fieldset class="form-group">
          <label>Luogo di lavoro:</label>
          <input class="form-control">
        </fieldset>


      </form>

    </div>
    <div class="col-lg-6">

      <form role="form">

        <div class="form-group">
          <label>Skill richieste</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Java
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> C
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Angular 4
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> HTML - CSS
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> SQL
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Android
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> C#
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> PHP
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Javascript
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> JSON
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> XML
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> AJAX
            </label>
          </div>
        </div>

      </form>
      <br>





    </div>
    <!-- /.row -->
    <div class="col-xl-4">


    </div>
    <div class="col-xl-4">
      <button type="submit" class="btn btn-secondary">Modifica</button>
      <button type="reset" class="btn btn-secondary">Elimina</button>

    </div>
    <div class="col-xl-4 text-xs-center">

    </div>


  </div>
</div>