<div>
    <app-page-header [heading]="'Pubblica annuncio'" [icon]="'fa-wrench'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form" >
                <fieldset class="form-group">
                    <label>Titolo annuncio:</label>
                    <input    [(ngModel)]= "job.titolo" type="text" class="form-control input-underline input-lg" id="titolo" placeholder="Titolo Annuncio" #titolo  name="titolo" (change)="onAlert()">
                </fieldset>

                <fieldset class="form-group">
                    <label>Annuncio:</label>
                    <textarea  [(ngModel)]= "job.annuncio"class="form-control" rows="3" id="annuncio" placeholder="Annuncio" #annuncio name="annuncio" (change)="onAlert()"></textarea>
                </fieldset>

                <fieldset class="form-group">
                    <label>Titolo di studio:</label>
                    <input [(ngModel)]= "job.titolodistudio" type="text" class="form-control input-underline input-lg" id="titolostudio" placeholder="Titolo Di Studio" #titolostudio name="titolodistudio" (change)="onAlert()">
                </fieldset>

                <fieldset class="form-group">
                    <label>Luogo di lavoro:</label>
                    <input [(ngModel)]= "job.luogodilavoro"  type="text" class="form-control input-underline input-lg" id="luogo" placeholder="Luogo Lavoro" #luogolavoro name="luogodilavoro" (change)="onAlert()">
                </fieldset>


            </form>
        </div>
        <form role="form">
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                        <div class="card-header" align="center">
                            Skill richieste
                        </div>
                        <div class="card-body table-responsive">
                            <form role="form" #formselect>
                                <table class="table">
                                    <tr>
                                        <td> Inserisci skill</td>
                                        <td> <input  type="text"  class="form-control input-underline input-lg" name="skillInput" placeholder="Skill" #skillInput ></td>
                                        <td><button type="submit" class="btn btn-sm btn-secondary"  [routerLink]="['/public-ad']" (click)="onControlSkill(skillInput.value)" >inserisci</button></td>
                                    </tr>


                                    <tr>
                                        <td> <label>Skill possedute</label></td>

                                        <td>
                                            <fieldset class="form-group" >

                                               <select  [(ngModel)]="job.skill" multiple="" class="form-control" name="select">
                                                    <option *ngFor="let list of list" >{{ list.nome }}</option>

                                                </select>
                                            </fieldset>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td td colspan="3">

                                            <input disabled [(ngModel)]="job.skill" type="text" class="form-control input-underline input-lg"  name="skillscelte" (change)="onAlert()">

                                        </td>
                                    </tr>

                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>



        <div class="col-xl-4">
        </div>
        <div class="col-xl-4">
            <button type="submit" class="btn btn-secondary"   (click)="onPublicAd()">Pubblica</button>
            <button type="reset" class="btn btn-secondary" [routerLink]="['/dashboard']">Annulla</button>
        </div>
        <div *ngIf="alert">
            <label  style="text-align: left; color:#ff0000;">*Riempire tutti i campi</label>
        </div>
        <div class="col-xl-4 text-xs-center">

        </div>


    </div>
</div>
