<div class="alert alert-success">
    <div class="row">
        <div class="col-xl-4 text-xs-center">
            <h3>Fabio De Cicco</h3>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                    <p>Data</p>

            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                    <p>NON IDONEO</p>
            </div>
        </div>

    </div>
    <p>
        Questo ragazzo mostra buone conoscenze nel linguaggio Java però per questa offerta di lavoro non è adatto
    </p>
    <p>
        <button type="button" class="btn btn-sm btn-primary">Visualizza profilo</button>
    </p>
</div>

<div class="alert alert-info">
    <div class="row">
        <div class="col-xl-4 text-xs-center">
            <h3>Antonio De Piano</h3>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <p>Data</p>

            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <p>NON IDONEO</p>
            </div>
        </div>

    </div>
    <p>
        Questo ragazzo mostra buone conoscenze nel linguaggio Java però per questa offerta di lavoro non è adatto
    </p>
    <p>
        <button type="button" class="btn btn-sm btn-primary">Visualizza profilo</button>
    </p>
</div>

<div class="alert alert-warning" >
    <div class="row">
        <div class="col-xl-4 text-xs-center">
            <h3>Vincenzo Bevilacqua</h3>
        </div>
        <div class="col-xl-4 text-xs-center">
                <p>Data</p>

        </div>
        <div class="col-xl-4 text-xs-center">
                <p>NON IDONEO</p>
        </div>

    </div>
    <p>
        Questo ragazzo mostra buone conoscenze nel linguaggio Java però per questa offerta di lavoro non è adatto
    </p>
    <p>
        <button type="button" class="btn btn-sm btn-primary">Visualizza profilo</button>
    </p>
</div>


<div class="alert alert-danger" >
    <div class="row">
        <div class="col-xl-4 text-xs-center">



            <h3>Fabio De Cicco</h3>


        </div>
        <div class="col-xl-4 text-xs-center">
            <p>Data</p>

        </div>
        <div class="col-xl-4 text-xs-center">
            <p>NON IDONEO</p>
        </div>

    </div>
    <p>
        Questo ragazzo mostra buone conoscenze nel linguaggio Java però per questa offerta di lavoro non è adatto
    </p>
    <p>
        <button type="button" class="btn btn-sm btn-primary">Visualizza profilo</button>
    </p>
</div>