<app-page-header [heading]="'Candidati Da Verificare'" [icon]="'fa fa-user'"></app-page-header>
<div class="card mb-3">
  <div style="text-align: center;">
    <div class="alert alert-info">
      <strong> {{aggettivo}}</strong> {{messaggio}}
    </div>
  </div>
  <div class="card-header">Di seguito l'elenco dei candidati indicati <b>da verificare</b> dal recruiter</div>
  <table class="card-body table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Fullname</th>
      <th>Offerta Di Lavoro</th>
      <th>Data</th>
    </tr>
    </thead>
    <tbody *ngFor="let candidati of candidatilist">

    <tr>
      <th scope="row">{{candidati.number}}</th>
      <td><a [routerLink]="['/dettaglio-candidatura', candidati.key_candidatura, 'candidature_da_verificare']" [routerLinkActive]="['router-link-active']">
        &nbsp;{{candidati.fullname}}</a></td>
      <td>{{candidati.offerta}}</td>
      <td>{{candidati.dataCandidatura}}</td>
    </tr>
    </tbody>
  </table>
</div>